/* stylelint-disable unit-blacklist */
$x-small: 480px;
$small: 600px;
$tablet: 768px;
$x-tablet: 900px;
$medium: 1024px;
$x-medium: 1280px;
$large: 1500px;
$x-large: 1920px;
$x-large-4k: 4096px;
$x-large-2k: 2048px;

@mixin respond-to ($media) {
  @if $media == xsmall {
    @media only screen and (max-width: $x-small) {
      @content;
    }
  }

  @else if $media == small {
    @media only screen and (max-width: $small) {
      @content;
    }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }
  @else if $media == xtablet {
    @media only screen and (max-width: $x-tablet) {
      @content;
    }
  }
  @else if $media == medium {
    @media only screen and (max-width: $medium) {
      @content;
    }
  }
  @else if $media == xmedium {
    @media only screen and (max-width: $x-medium) {
      @content;
    }
  }
  @else if $media == large {
    @media only screen and (max-width: $large) {
      @content;
    }
  }
  @else if $media == xlarge {
    @media only screen and (max-width: $x-large) {
      @content;
    }
  }
  @else if $media == xlarge2k {
    @media only screen and (max-width: $x-large-2k) {
      @content;
    }
  }
  @else if $media == xlarge4k {
    @media only screen and (max-width: $x-large-4k) {
      @content;
    }
  }
  @else {
    @media only screen and (max-width: $media) {
      @content;
    }
  }
}
@mixin button () {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: toRem(12) toRem(16);
  font-size: toRem(16);
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  width: 100%;
  user-select: none;

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }
  &--large {
    font-size: toRem(20);
    padding: toRem(16) toRem(24);
    line-height: 1.2;
  }
  &--small {
    font-size: toRem(13);
    padding: toRem(8) toRem(12);
    line-height: 1.2;
  }
}
@mixin button-primary () {
  @include button();

  border-radius: toRem(8);
  background-color: var(--col-strong-cyan);
  color: var(--col-light-blue);

  & > .icon {
    fill: var(--col-light-blue);
  }

  &[disabled] {
    background-color: var(--col-strong-cyan);
    color: var(--col-dark-grayish-violet);

    .icon {
      fill: var(--col-dark-grayish-violet);
    }
  }

  &:not([disabled]):hover {
    background-color: rgba(var(--col-strong-cyan-rgb), 0.9);
  }
}
@mixin button-secondary () {
  @include button();

  border-radius: toRem(8);
  background-color: rgba(var(--col-strong-cyan-rgb), 0.3);
  color: var(--col-light-blue);

  & > .icon {
    fill: var(--col-light-blue);
  }

  &[disabled] {
    background-color: var(--col-strong-cyan);
    color: var(--col-dark-grayish-violet);

    .icon {
      fill: var(--col-dark-grayish-violet);
    }
  }

  &:not([disabled]):hover {
    background-color: rgba(var(--col-strong-cyan-rgb), 0.4);
  }
}
@mixin button-icon () {
  @include button();

  padding: 0;
  width: max-content;

  & > .icon {
    fill: var(--col-primary);
  }

  &:not([disabled]):hover {
    & > .icon {
      fill: var(--col-primary);
    }
  }
}
@mixin button-text () {
  @include button();

  padding: 0;
  width: max-content;
  color: var(--col-light-blue);

  &[disabled] {
    color: var(--col-desaturated-dark-blue);
  }

  &:not([disabled]):hover {
    color: var(--col-primary);
  }
}